body{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: 1440px;
	height: 720px;
	position: relative;
}
.main{
	width: 100%;
	height: 100%;
	background-image: url('../images/menu_bg.png'); 
    background-size: cover;
	left: 0px;
}
.menu_btn{
	padding-left: 20px;
	padding-top: 20px;
}
.menu_btn img{
	width: 30px;
	height: 30px;
	float: left;
}
.menu{
	width: 280px;
	height: 100%;
	left:-280px;
	position: fixed;
	background-color:red;
}