<!DOCTYPE html>
<html>
    <head>
    	<link rel='stylesheet' type='text/css' href='../css/todolist.css'/>
    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    	<!-- Include the AngularJS library -->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
	</head>
	<body ng-app='store' ng-controller="StoreController as store">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="product in store.products">
					<h2>{{product.name}}</h2>
					<h3>{{product.price|currency}}</h3>
					<p>{{product.description}}</p>
					<section ng-controller = 'PanelController as panel'>
						<ul class="nav nav-pills">
							<li ng-class='{active:panel.isSelected(1)}'><a href ng-click='panel.selectTab(1)'>Description</a></li>
							<li ng-class='{active:panel.isSelected(2)}'><a href ng-click='panel.selectTab(2)'>Specifications</a></li>
							<li ng-class='{active:panel.isSelected(3)}'><a href ng-click='panel.selectTab(3)'>Review</a></li>
						</ul>
						<div class="panel" ng-show="panel.isSelected(1)"> 
							<p>{{product.description}}</p> 
						</div>
						<div class="panel" ng-show="panel.isSelected(2)">
							<p>None yet</p>  
						</div>
						<div class="panel" ng-show="panel.isSelected(3)"> 
							<h4>Reviews</h4>
							<form name="reviewForm" ng-controller='ReviewController as reviewCtrl' ng-submit='reviewCtrl.addReview(product)'>
								<blockquote>
								<b>Stars:{{ReviewController.review.stars}}</b>
								{{review.body}}
								<cite>by:{{ReviewController.review.author}}</cite>
								</blockquote>
								<select ng-model='reviewCtrl.review.stars'>
									<option value='1'>1 star</option>
									<option value='2'>2 star</option>
									<option value='3'>3 star</option>
									<option value='4'>4 star</option>
									<option value='5'>5 star</option>
								</select>
								<textarea ng-model='reviewCtrl.review.body'></textarea>
								<label>by:</label>
								<input ng-model='review.author' type=:"email"/>
								<input type="submit" value="Submit"/>
							</form>
						</div>
					</section>
				</li>
			</ul>
		 <!-- Modules -->
    	<script src="../scripts/app.js"></script>
	</body>
</html>